<tr>
  <td class="text-left owner-text text-primary-500">
    <div class="flex items-center">
      <div class="mr-2">
        <span class="text-lg">
          <%= order.course.title %>
        </span>
      </div>
    </div>
  </td>
  <td class="px-6 py-6 text-center">
    <div class="flex items-center justify-center text-base">
      <span><%= order.slug %></span>
    </div>
  </td>
</tr>
