<% if resource.errors.any? %>
  <div id="error_explanation" class="flash flash-alert" data-controller="flash">
    <span class="flash-msg">請輸入正確資訊</span>
    <button class="flash-btn" data-action="click->flash#closeFlash"><i class="fa-solid fa-xmark"></i></button>
  </div>
<% end %>
