<ul class="my-8 overflow-hidden rounded text-primary-500">
  <li class="px-8 py-3 text-2xl bg-gray-300">
    <%= chapter.title %>
    <%= render partial: "section", collection: chapter.sections.order(id: :asc) %>
  </li>
</ul>