<ul class="my-8 rounded overflow-hidden text-primary-500">
  <li class="px-8 py-3 bg-gray-300 text-2xl">
    <%= chapter.title %>
    <%= render partial: "section", collection: chapter.sections %>
  </li>
</ul>