# Google OAuth2.0
GOOGLE_CLIENT_ID: "YOUR_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET: "YOUR_GOOGLE_CLIENT_SECRET"

# AWS S3
S3_BUCKET: YOUR_BUCKET
REGION: YOUR_REGION
ACCESS_KEY_ID: "YOUR_ACCESS_KEY_ID" 
SECRET_ACCESS_KEY: "YOUR_SECRET_ACCESS_KEY"

# NEWEBPAY
NEWEBPAY_KEY: "YOUR_HASHKEY"
NEWEBPAY_IV: "YOUR_HASHIV"
MERCHANT_ID: "YOUR_MERCHANT_ID"

# HOSTNAME
HOST_NAME: "YOUR_DOMAIN_NAME"

# Mailgun
MAILGUN_ADDRESS: "YOUR_MAILGUN_ADDRESS"
MAILGUN_PORT: "YOUR_MAILGUN_PORT"
MAILGUN_DOMAIN: "YOUR_DOMAIN_NAME"
MAILGUN_USER_NAME: "YOUR_MAILGUN_USER_NAME"
MAILGUN_PASSWORD: "YOUR_MAILGUN_PASSWORD"
