@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./home";
@import "./member";
@import "./nav";
@import "./footer.scss";
@import "./courses_index";
@import "./courses_show";
@import "./section_header";
@import "./section_show";
@import "./owner";
@import "./owner_sidebar";
@import "./markdown";

// font-family noto sans
body {
  font-family: "Noto Sans TC", sans-serif;
}

// form controls
.form-control-group {
  @apply flex pl-2;
}

label.avatar-label {
  div {
    position: relative;

    &::before {
      content: "點擊編輯";
      position: absolute;
      inset: 0;
      z-index: 1;
      line-height: 160px;
      text-align: center;
      background-color: transparent;
      opacity: 0;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      line-height: 160px;
      background-color: black;
      opacity: 0;
    }

    &:hover::before {
      opacity: 100%;
    }

    &:hover::after {
      opacity: 30%;
    }
  }
}

label.image-label {
  div {
    position: relative;

    &::before {
      content: "點擊編輯圖片";
      position: absolute;
      inset: 0;
      z-index: 1;
      line-height: 160px;
      text-align: center;
      background-color: transparent;
      opacity: 0;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      line-height: 160px;
      background-color: black;
      opacity: 0;
    }

    &:hover::before {
      opacity: 100%;
    }

    &:hover::after {
      opacity: 30%;
    }
  }
}

input {
  @apply w-full px-3 py-1 mt-1 mb-3 border bg-gray-50 border-primary-300 rounded;

  &:focus {
    @apply border border-primary-300 outline-none ring-1 ring-primary-300;
  }
}

textarea {
  resize: none;
  @apply border rounded;
}

.field_with_errors {
  input {
    border-color: red;
    border-width: 1px;

    &:focus {
      @apply ring-0 border-2;
    }
  }

  label {
    color: red;
  }

  &:nth-child(2) {
    @apply flex-grow;
  }
}

// flash messages
.flash {
  @apply flex justify-between items-center pl-4 pr-2 py-2 my-2 text-white rounded-md;
}

.flash-notice {
  @apply bg-safe;
}

.flash-alert {
  @apply bg-red-600;
}

.flash-btn {
  @apply block w-8 h-8 rounded-full;

  &:focus {
    @apply bg-white text-black;
  }

  &:active {
    @apply bg-white text-black;
  }
}

// front stage common style

.main {
  @apply pt-16;
  min-height: 60vh;
}

.footer {
  overflow: hidden;
  position: relative;
}

.footer::before {
  content: "";
  width: 100%;
  height: 20px;
  @apply absolute bg-secondary-400;
}

.size {
  display: flex;
  align-items: center;
  width: 80px;
  width: 80px;
  transform: rotate(-10deg) rotateY(180deg);
  animation-name: aircraft;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;

  img {
    width: 100%;
    height: auto;
    flex-shrink: 0;
  }
}

.dot {
  flex-shrink: 0;
  margin-left: 8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #8b5e04;

  animation-name: dot;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-delay: calc(0.3s * var(--i));
}

@keyframes dot {
  0% {
    transform: scale(0);
  }

  70% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes aircraft {
  0% {
    opacity: 0;
    top: 85px;
    left: -170px;
  }

  100% {
    opacity: 1;
    top: 0;
    left: 80px;
  }
}
