<ul class="w-2/3 mx-auto chapter">
  <li class="text-lg chapter-title">
    <%= chapter.title %>
  </li>
  <%= render partial: "courses/section", collection: chapter.sections.published, locals: {course: @course} %>
</ul>