<%= render "shared/search" %>

<h1 class="container mx-auto mt-12 text-4xl text-center"><%= @lecturer.name %>講師課程</h1>
<%= render "shared/flash" if flash %>

<div class="flex flex-wrap mx-auto md:container">
	<%= render partial: "tenant/courses/course", collection: @lecturer.courses.where(published: "publish") %>
</div>
